@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

:root {
  --background: #f9f6f1;
  --accent: #c0392b;
  --primary: #2d2926;
  --secondary: #9b8f82;
  --muted: #d4cdc2;
  --success: #849483;

  --mono: "DM Mono", monospace;
  --serif: "Playfair Display", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-success: var(--success);

  --font-mono: var(--mono);
  --font-serif: var(--serif);
}

@utility no-input-ring {
  @apply focus:outline-none focus:ring-0;
}

body {
  background: var(--background);
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
  }
  .animate-slide-up {
    animation: slideInUp 0.4s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideInUp {
    from {
      transform: translateY(30px) scale(0.98);
      opacity: 0;
    }
    to {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }
}

::-moz-selection {
  color: var(--primary);
  background: var(--secondary);
}

::selection {
  color: var(--primary);
  background: var(--secondary);
}
